*{
    margin: 0%;
    padding: 0%
}
.contactstyle h2 {
    display: flex;
   justify-content: space-around;
   align-items: center;
   color: black;
   background: lightseagreen;
   width: 100%;
   height: 300px;  
}